@import url('https://fonts.googleapis.com/css2?family=M+PLUS+2:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap');
:root {
    --primary-color: #F3EAE1;
    --secondary-color: #e9f4f6;
    --tertiary-color: #6dbcb7;
    --text-color: #4d4f50;
    --dark-color: #23201a;
    --orange-color: #f05843;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'M PLUS 2', sans-serif;
    color: var(--text-color);
}
.sub-titles *,
h1,
h2,
h3 {
    color: var(--dark-color);
    font-family: 'PT Serif', serif;
    font-weight: 700;
}
a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}
.aside {
    width: 20%;
    background: var(--primary-color);
}
.logo {
    font-weight: 700;
}
.logo-icon {
    width: 20px;
}
.profile-image-contain {
    width: 75px;
}
.ft-s-14 {
    font-size: 14px;
}
.ft-s-10 {
    font-size: 10px;
}
.navlinks-container {
    list-style: none;
}
.navlinks.active {
    font-weight: 800;
}
.logout-image-contain {
    width: 24px;
    height: 24px;
}
.logout-image {
    width: 14px;
    height: 14px;
}
.main {
    width: 80%;
    margin-left: 20%;
}
.main-container {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        'header plan'
        'activity performers'
        'channels channels' 
    ;
}
.main-header {
    grid-area: header;
}
.alert-value-nav,
.alert-value {
    background: var(--orange-color);
    width: 18px;
    height: 18px;
    font-size: 9px;
    font-family: 'PT Serif', serif;
}
.alert-value-nav {
    width: 13px;
    height: 13px;
    font-size: 7px;
}
.statistics-card {
    flex: auto;
}
.divide {
    background: rgba(77, 79, 80, 0.3);
    height: 1px;
}
.growth-dir {
    width: 20px;
    height: 20px;
    padding-bottom: 4px;
}
.up {
    background: var(--tertiary-color);
}
.down {
    background: var(--orange-color);
}
.settings-img {
    width: 20px;
}
.card-container {
    grid-area: plan;
}
.plan-card {
    background: var(--primary-color);
    border-radius: 20px;
    padding: 20px 25px;
}
.plan-image-container {
    width: 25px;
}
.plan-info-container {
    max-width: 200px;
}
.orange-text {
    color: var(--orange-color);
}
.now-box {
    width: 60px;
    height: 60px;
    background: var(--orange-color);
}
.now {
    font-weight: bold;
}
.activity-container {
    grid-area: activity;
}
.select-date {
    outline: none;
    font-size: 12px;
    font-weight: 500;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .3);
}
.graph-average-card {
    top: 40%;
    left: 60%;
    width: 100px;
    border-radius: 10px;
}
.performers-container {
    grid-area: performers;
}
.perfomer-image {
    width: 40px;
}
.permance-perc,
.performer-name {
    font-weight: bold;
    color: var(--dark-color);
}
.view-more {
    font-weight: 700;
}
.channels-container {
    grid-area: channels;
}
.channels-card {
    background: var(--secondary-color);
    border-radius: 20px;
    padding: 40px 35px;
    border: 1px solid var(--secondary-color);
}
.info {
    width: 20%;
    flex: auto;
}
.contents {
    width: 80%;
    flex: auto;
}
.media-card {
    border-radius: 20px;
    width: 20%;
    flex: none;
}
.platform-logo-box {
    width: 40px;
    height: 40px;
}
.drib-logo {
    background: rgb(233, 36, 233);
}
.b-logo {
    background: rgb(34, 34, 146);
}
.ig-logo {
    background: orange;
}
.pin-logo {
    background: var(--orange-color);
}
.platform-name {
    font-family: 'M PLUS 2', sans-serif;
}
.platform-growth,
.platform-growth * {
    color: var(--dark-color);
    font-weight: 700;
}
.stats-card {
    background: var(--tertiary-color);
    font-weight: 500;
}
.stat-btn {
    font-weight: 600;
    height: 35px;
    width: 35px;
    outline: none;
}
.stat-right {
    color: var(--tertiary-color);
}